.content-container {
  width: 100%;
  margin: auto;
  
  .content-row {
    display: flex;
    .content-col-6 {
      width: 50%;
      text-align: left;
    }
  }
}
.about-btn {
  background: #1c519d;
  color: white;
  border-radius: none;
  padding: 10px;
  gap: 10px;
  width: 220px;
  border: none;
}
.content {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  h1 {
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    color: #1c519d;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232323;
  }
  .aboutUsImage{
    z-index: -1;
    .anniversaryImage{
      margin-top: -230px;
      margin-left: 91px;
    }
  }
}
@media only screen and (max-width: 769px) {
  .content-col-6 {
    width: 100%;
  }
}
