.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: none; 

  .rounded-button {
    cursor: pointer;
    font-size: 16px;
  }

  .arrow-instance {
    font-size: 16px;
    margin-left: -10px; 
  }
}
