// button.scss

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px; // This will round the corners of the button-wrapper

  .rounded-button {
    cursor: pointer;
    font-size: 16px;
  }

  .arrow-instance {
    font-size: 16px;
    margin-left: -10px; // Adjust this to bring the arrow closer to the text
  }
}
