@import "../../assets/css/variables.scss";

.container-box {
  width: 100%;
  margin: auto;
  margin-top: 120px;

  .content-row {
    display: flex;
.gap-after {
  display: block;
  margin-bottom: 1em; 
  text-align: left; 
}

    .col-6 {
      flex-basis: $col-width;
      box-sizing: border-box;
      padding: 0 $col-padding;
      margin-left: 50px; 
      margin-right: 10px; 
      text-align: left;
      @media (max-width: $breakpoint-md) {
        flex-basis: 100%;
        padding: 0;
      }

      .wrap-text{
        color: #1c519d;
        text-align: left;
      .solid-waste-system {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
      }
    }
      .buttonSize {
        width: 170px;
        height: 35px;
        background-color: rgb(140, 198, 63);
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 25px;
      }

      .circle-image {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}