.container {
  width: 100%;
  margin: auto;
  display: grid;

  .content-row {
     display: flex;

  .col-6 {
    width: 50%;
    .wrap-text{
      color: #1c519d;
      text-align: left;
    }
    .route-optimization{
      text-align: left;
      }
    .routingWarper{
      color: black;
    }
  }
}
}
