.accordian {
  background-color: #8cc63f;
  width: 100%;
  height: 25%;
  margin-top: 83px;
  overflow:visible;

  h1 {
    color: white;
    margin-top: 83px;
  }
  .sectionPage {
    margin-top: 30px;
    p{
        background-color: white;
    }
  }
}
