.frame {
    display: flex;
    justify-content: space-between;
    background-color: var(--brand-blue-1);
    /* padding: 0 85px; */
    width: 100%; /* Full width */
    height: 7vh;
    align-items: center;
  }
  .frame .search-input {
    display: none;
  }
  .div {
    display: flex;
    /* padding: 85px; */
    margin-left: 85px;
  }
  
  .div-2 {
    display: flex;
    align-items: center;
    /* gap: 12px; */
    padding: 0 12px;
  }
  ::placeholder{
    background-color:var(--brand-blue-1);
    border: none;
    display: none;
  }
  .search-input {
    display: none;
  }
  .text-wrapper, .text-wrapper-2 {
    white-space: nowrap;
    color: var(--neutral-white);
    color: #ffffff;  /* Change this to your variable if you have one */
  }
  .div-3{
margin-right: 85px;
display: flex;
  }
  /* Tablet view */
  @media (max-width: 1024px) {
    .frame {
      flex-direction: row;
      padding: 0 40px;
    }
    .div, .div-2 {
      gap: 15px;
    }
    .text-wrapper, .text-wrapper-2 {
      font-size: smaller;
    }
  }
  
  /* Mobile view */
  @media (max-width: 768px) {
    .frame {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
    .div {
      width: 100%;
      justify-content: space-between;
    }
    .div-2 {
      gap: 10px;
    }
    .text-wrapper, .text-wrapper-2 {
      font-size: smallest;
      color: #ffffff; 
    }
  }
  